# LEY DE TITIUS-BODE

##  Teoría.

+ Ley de Titius


Hacia el año 1766, **J. B. Titius** descubrió una ley empírica sobre 


la posición de los planetas en el Sistema Solar. Esta ley fue


publicada de manera independiente en 1772 por **Johann Elert Bode**,


y fue conocida desde entonces como la ley de Titius-Bode


(Aschwanden, 2017). *Esta ley establece que el radio orbital de*


*los planetas sigue una serie matemática progresiva expresada*


*de la siguiente forma* (Lynch, 2003):


    r(n) = 0,4 + 0,3 * 2**n  n = - ∞ , 0, 1, 2, 3 ....
    
    
    
donde n representa el número del planeta. En este a Mercurio se le asigna -∞ ; a Venus, el valor de


0, y así sucesivamente hasta Saturno que, en la época en que fue descubierta esta ley, era el planeta


más lejano del cual se tenía conocimiento. Cabe mencionar que para que dicha ley funcione los


*rádios orbitales están medidos en unidades astronómicas*. <span class="girk">Una unidad astronómica equivale a la</span>


<span class="girk">distancia de la Tierra al Sol</span>
                     

Para 1772, el cinturón de asteroides (representado por el asteroide Ceres en la tabla 1), Urano,


Neptuno y Plutón aún no eran descubiertos. Sin embargo, Herschel en 1781 descubrió Urano, y


Piazzi, en 1801, descubrió Ceres gracias a la predicción de esta ley.


  Sin embargo, se puede observar que la ley de Titius-Bode falla para las posiciones de Neptuno y


Plutón. Algunos autores han tratado de explicar lo anterior debido a perturbaciones gravitacionales


con el cercano cinturón de Kuiper (semillero de cometas en las afueras del Sistema Solar), así como


por el movimiento del Sol alrededor de la galaxia (Llibre y Piñol, 1987).


+ Otro autores. 


Desde la publicación de esta ley hasta la fecha, diversos autores han tratado de encontrar una


teoría física que la respalde, sin llegar a algo concluyente. Algunos empiezan por expresarla de la


siguiente manera (Aschwanden, 2017) para evitar asignar el valor de -∞ a Mercurio:
     
     
    r(n) = 0,4 si n= 1
    
    r(n) = 0,4 + 0,3* 2**(n-2) n = 2,3,4....
                     


*Aunque no se ha encontrado una teoría física única y definitiva que respalde la **ley de Titius-Bode**,*


*el hecho de que existan algunos sistemas de satélites y sistemas extrasolares que con ligeras*


*modificaciones se ajustan a esta ley, y el que haya una relación con las resonancias planetarias, abre*


*la posibilidad de que algún día sea posible dar una explicación que vaya más allá de una simple*


*coincidencia matemática*

![Imagen]()

## Resultados

Mostraremos los resultados de la **ley de Titius-Bode**, comparando las distancias 

distancias reales medidas con las predichas de por la serie, y así observar las 

discrepancias entre la teoría y la realidad. 

Primero mostramos las distancias reales entre el Sol y los planetas: 

Podemos ver las distancias a los planetas de este mismo enlace [aquí]( https://flexbooks.ck12.org/cbook/ck-12-conceptos-de-ciencias-de-la-tierra-grados-6-8-en-espanol/section/13.5/primary/lesson/planetas-del-sistema-solar/)

In [13]:
# primero crearemos un Data Frame, para así poder visualizar las distancias de manera simple y fácil
import pandas as pd

# creamos tres listas, una para los planetas, otra para las distancias reales y otra con el orden de los planetas

planeta = [ "Mercurio", "Venus","la Tierra", "Marte", "Ceares", "Júpiter", "Saturno", "Urano", "Neptuno", "Plutón"]
# r es la distancia del sol  a cada planeta por orden.
r = [0.39, 0.72, 1.00, 1.52, 2.77, 5.20, 9.54, 19.18,30.06, 39.44 ]
# es el número de orden del planeta
n = []
for i in range(1, 11 ):
    n.append(i)
    
df = pd.DataFrame(list(zip(planeta, r)), columns = ['planeta', "distancia real"], index = n)
df

      planeta  distancia real
1    Mercurio            0.39
2       Venus            0.72
3   la Tierra            1.00
4       Marte            1.52
5      Ceares            2.77
6     Júpiter            5.20
7     Saturno            9.54
8       Urano           19.18
9     Neptuno           30.06
10     Plutón           39.44

Ahora vamos a calcular los resultados predichos por la ley de **ley de Titius-Bode** :


Haciendo uso de la fórmula corregida:

    r(n) = 0,4 si n= 1
    
    r(n) = 0,4 + 0,3* 2**(n-2) n = 2,3,4....

In [14]:
# sea rtb la distancia predicha por la fórmula de Titius-Bode. 
# crearemos una lista vacía para ir registrando los cálculos de las distancias

rtb = []

# haremos un bucle para hacer todos los cálculos 

for j in range ( 1,11): # se hace el bucle para calcular los 10 planetas. 
    if j == 1 : # condicionamos el cálcculo del primer planeta, tal como expresa la fórmula 
        x = 0.4
        rtb.append(x)
    else : 
        y = 0.4 +(0.3)*(2**(j-2))
        y = round (y, 1)
        rtb.append(y)
print ( rtb)

[0.4, 0.7, 1.0, 1.6, 2.8, 5.2, 10.0, 19.6, 38.8, 77.2]

Ahora compararemos *la distancia predicha con la real*.

In [15]:
# para ello vamos a montar un segundo dataframe con los resultados teóricos con los reales

df = pd.DataFrame(list(zip(planeta, r, rtb)), columns = ['planeta', "distancia real", " distancia teórica"], index = n)
df

      planeta  distancia real   distancia teórica
1    Mercurio            0.39                 0.4
2       Venus            0.72                 0.7
3   la Tierra            1.00                 1.0
4       Marte            1.52                 1.6
5      Ceares            2.77                 2.8
6     Júpiter            5.20                 5.2
7     Saturno            9.54                10.0
8       Urano           19.18                19.6
9     Neptuno           30.06                38.8
10     Plutón           39.44                77.2

Como podemos observas, **las discrepancias empiezan a ser apreciables a partir de Neptuno**. 


Aun así, vamos a calcular la discrepancia relativa porcentual entre el valor real y el valor teórico,


y vamos a dar por malo una discrepancia mayor al 10%

In [16]:
for i in range ( 0,10):
    discrepancia_porcentual = (abs(r[i]-rtb[i])/ r[i])*100 
    
    if discrepancia_porcentual > 10 :
        print ( " la discrepancia medida del planeta ", planeta [i], " es mayor al 10%")

 la discrepancia medida del planeta  Neptuno  es mayor al 10%
 la discrepancia medida del planeta  Plutón  es mayor al 10%